body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

#logo-icon {
  height: 70px;
}

#cart-icon,
#signin-icon {
  height: 50px;
  cursor: pointer;
}

#cart-icon-count {
  display: flex;
  align-items: center;
  position: relative;
}

#cart-count {
  margin-left: 8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
}

.dropdown-menu {
  box-shadow: 0 4px 8px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
  background-color: #f4f4f4;
}

#header-container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
  background-color: darkgrey;
  width: 100%;
  z-index: 1030;
}

#cart-container {
  width: 14%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#search-container {
  width: 64%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-container input {
  font-size: 20px;
  width: 85%;
  border-radius: 20px;
  padding: 8px 10px;
  border: 1px solid;
}

#search-container button {
  font-size: 18px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background-color: #f4f4f4;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #header-container {
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 99%;
  }

  #logo-icon {
    height: 35px;
  }

  #cart-icon,
  #signin-icon {
    height: 20px;
  }

  #cart-count {
    margin-left: 4px;
    padding: 2px 5px;
    font-size: 7px;
  }

  #cart-container {
    width: auto;
    justify-content: flex-end;
  }

  #search-container {
    width: auto;
    flex: 2;
    margin: 0 1rem;
  }

  #search-container input {
    width: 100%;
    font-size: 16px;
  }

  #search-container button {
    font-size: 16px;
    padding: 5px 10px;
  }

  .dropdown-menu {
    box-shadow: 0 2px 4px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 9px;
    background-color: #f4f4f4;
  }
}
